* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  background-image: url(bg-image.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
 
}

.admin-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-content {
  flex: 1;
  color: #fff;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.admin-content h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.admin-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.admin-content a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
}

.admin-content a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.login-box {
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input {
  margin: right 3px;
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
}


@media (max-width: 768px) {
  .admin-box {
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }
  .login-box {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.error-message {
  color: #e74c3c;
  padding: 10px;
  margin-top: 10px;
  transition: opacity 1s ease;
}